/* Center tables for demo */
.review table {
  margin: 0 auto;
}

/* Default Table Style */
.review table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
.review table thead th,
.review table tfoot th {
  color: #777;
  background: rgba(0, 0, 0, 0.1);
}
.review table caption {
  padding: 0.5em;
}
.review table th,
.review table td {
  padding: 0.5em;
  border: 1px solid lightgrey;
}
/* Zebra Table Style */
[data-table-theme*="zebra"] tbody tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05);
}
[data-table-theme*="zebra"][data-table-theme*="dark"]
  tbody
  tr:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.05);
}
