{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Aprender Django</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="{% static 'cursos/css/styles.css' %}" />
    <!-- Import Fontawesome Icons-->
    <script
      defer
      src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"
      integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app">
      <section class="header">
        <h1 class="title center ma-3">Cursos de Django</h1>
      </section>
      {% block hero %}
      <section class="banner mb-2">
        <header>
          <h2 class="title">Investir em conhecimento tem os melhores juros.</h2>
        </header>
      </section>
      {% endblock hero %} {% block conteudo %}

      <h2>ATENÇÃO VOCE PRECISA criar o 'block conteudo' ESTA PARTE</h2>

      {% endblock conteudo %}
    </div>
  </body>
</html>
