<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <h1>Criação de Novo Curso</h1>
    <form action="{% url 'cursos.form' %}" method="post">
        {% csrf_token %}
        <div>
            Nome:<input type="text" name="nome" />
        </div>
        <div>
            Imagem:<input type="text" name="imagem" />
        </div>
        <div>
            Descrição: <textarea rows="6" name="descricao"></textarea>
        </div>
        <div>
            Autor:
            <select name="author">
                {% for autor in autores %}
                <option value="{{ autor.id }}">{{ autor.nome }} - {{ autor.bio }}</option>
                {% endfor %}
            </select>
        </div>        <div>
            Está Ativo?
            Sim: <input type="radio" name="ativo" value="True" checked="checked" />
            Não: <input type="radio" name="ativo" value="False" />
        </div>
        <button type="submit">Salvar</button>

    </form>

</body>
</html>