{% extends 'cursos/base.html' %}

{% load static %}

{% block conteudo %}

<section class="course-list center">
  <!-- LISTA DE TODOS OS CURSOS-->
  <form action=".">
    <select name="ordenacao" id="ordenacao">
      <option value="nome">Alfabética</option>
      <option value="-nome">Invertida</option>
    </select>
    <input type="submit" value="Alterar Ordem" />
  </form>
  <ul>
    {% for curso in cursos %}
    <li class="course-item ma-3">
      <div class="course">
        <div class="course-image">
          <img
            src="{% if curso.imagem %}{{ curso.imagem}}{% else %}{% static 'cursos/imagens/dejavu_matrix.jpg' %}{% endif %}"
            alt="Gato Preto"
          />
        </div>
        <div class="course-info">
          <h2 class="title mb-2">
            {{ curso.nome }}
            <span
              ><a href="{% url 'cursos.alterar' curso.id %}">EDITAR</a></span
            >
          </h2>
          <p class="description mb-2">{{ curso.descricao }}</p>
          <p>
            <a href="{% url 'cursos.listar.aulas' curso.id %}">Ver aulas</a>
          </p>
          <div class="course-actions pa-1">
            <p class="badge keep-left bold">FREE</p>

            <span class="curso-like">
              <button
                class="btn-like {% if curso in likes %}like{% endif %}"
                type="submit"
                onclick="likeCurso({{ curso.id }});"
                id="like_{{ curso.id }}"
              >
                <i class="fa-solid fa-heart"></i>
              </button>
              <strong class="likes" id="likes_count_{{ curso.id}}"> {{ curso.likes.count }}</strong>
            </span>

            <span>{{ curso.autor.nome }}</span>
            <button class="btn btn-primary">Iniciar</button>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
    <li>
      <a href="{% url 'cursos.novo' %}">CADASTRAR NOVO CURSO</a>
    </li>
  </ul>

  <p>
    <a href="{% url 'cursos.inicio' %}">Voltar para início</a>
  </p>
</section>

{% endblock conteudo %}

{% block js %}
<script>
  function likeCurso(idCurso) {
    fetch("/cursos/api/like/" + idCurso)
      .then((response) => response.json())
      .then((resposta) => {
        console.log(resposta);
        if (resposta.like == true) {
          document.getElementById(`like_${idCurso}`).classList.add("like");
        } else {
          document.getElementById("like_" + idCurso).classList.remove("like");
        }
        document.getElementById(`likes_count_${idCurso}`).innerHTML =
          resposta.likes;
      })
      .catch((error) => {
        console.log(error);
      });
  }
</script>
{% endblock js %}
